.form-item {
  margin: 5px;
  display: flex;
  align-items: flex-start;
}

.table-container {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
}
table {
  width: 100%;
  margin: 10px;
}
td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
/* .mat-column-delete {
  max-width: 10px !important;
  min-width: 10px !important;
}

.mat-column-edit {
  max-width: 10px !important;
  min-width: 10px !important;
}

.mat-column-amount {
  max-width: 20% !important;
  min-width: 20% !important;
}

.mat-column-details {
  max-width: 60% !important;
  min-width: 60% !important;
} */
