<mat-card style="padding: 15px; background-color: white">
  <h4>Header</h4>
  <div class="example-form" fxLayout="row" fxLayout.xs="column">
    <mat-form-field class="form-item">
      <mat-label>Invoice Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="invoiceDate" />
      <mat-hint>DD.MM.YY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="example-form" fxLayout="row" fxLayout.xs="column">
    <mat-form-field class="form-item">
      <mat-label>The Couple</mat-label>
      <input matInput [(ngModel)]="coupleText" />
    </mat-form-field>
    <mat-form-field class="form-item">
      <mat-label>Event Name</mat-label>
      <input matInput [(ngModel)]="eventName" />
    </mat-form-field>
  </div>
  <div class="example-form" fxLayout="row" fxLayout.xs="column">
    <mat-form-field class="form-item">
      <mat-label>Event Date</mat-label>
      <input matInput [(ngModel)]="dateText" />
    </mat-form-field>
    <mat-form-field class="form-item">
      <mat-label>Venue</mat-label>
      <input matInput [(ngModel)]="venueText" />
    </mat-form-field>
    <div style="height: 100%">
      <button
        mat-fab
        color="accent"
        aria-label="Reload Header"
        (click)="reloadPDFHeader()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <h4>Items</h4>
  <div
    class="example-form"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.xs="column"
  >
    <mat-form-field class="form-item" fxFlex="60%">
      <mat-label>Details</mat-label>
      <textarea
        matInput
        [(ngModel)]="quoteItemDetail"
        cdkTextareaAutosize
        type="text"
        style="max-height: 200px"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form-item" fxFlex="20%">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="number"
        min="0"
        placeholder="Ex. Pizza"
        [(ngModel)]="quoteItemAmount"
      />
    </mat-form-field>

    <div fxFlex="20%" style="height: 100%">
      <button
        mat-fab
        color="primary"
        aria-label="Add new item"
        (click)="addItem()"
      >
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>
  <section
    class="table-container mat-elevation-z8"
    tabindex="0"
    style="margin-bottom: 2vh; max-height: 200px"
  >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">{{ element.details }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element; let j = index">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="More.."
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-icon-button
              aria-label="Edit Entry"
              (click)="openDialog(j)"
            >
              <mat-icon class="icon-display" style="color: white"
                >edit</mat-icon
              >
            </button>
            <button mat-icon-button aria-label="Delete" (click)="removeItem(j)">
              <mat-icon class="icon-display" style="color: white"
                >delete</mat-icon
              >
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</mat-card>
<!-- 
<mat-paginator
  [pageSizeOptions]="[3, 5, 10]"
  showFirstLastButtons
  style="margin: 10px"
></mat-paginator> -->
